@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
nav {
    height: 60px;
    background: #222;
}
nav img {
    position: absolute;
    width: 120px;
    top: 16px;
    left: 12%;
}
nav ul {
    float: right;
    margin-right: 25px;
}
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
}
nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
}
nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}
nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}
label #btn, label #close {
    color: white;
    font-size: 30px;
    line-height: 60px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (max-width: 1118px) {
    nav img {
        left: 8%;
    }
}
@media (max-width: 944px) {
    nav img {
        left: 6%;
        top: 10px;
        width: 80px;
    }
    nav ul li a {
        font-size: 14px;
    }
}
@media (max-width: 860px) {
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #555;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .3s;
    }
    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 14px;
    }
    #check:checked ~ ul {
        left: 0;
    }#check:checked ~ label #btn {
        display: none;
    }#check:checked ~ label #close {
        display: block;
    }
}
